nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: var(--navbar_height);
  box-sizing: border-box;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}

.NavDropButton {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--bkg_color);
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: var(--navbar_height);
  width: 100vw;
  left: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  border-bottom: 1px solid var(--sec_color);
}

li {
  width: 100%;
  min-height: 5rem;
  font-weight: 800;
  border-top: 1px solid var(--main_color);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  display: inline-block;
  color: var(--bkg_color);
  text-decoration: none;
  font-size: var(--h3_font);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background: #1a2234f6;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-sizing: border-box;
}
.ExtendDrow {
  height: calc(5 * 4rem);
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  height: var(--navbar_height);
  width: 100%;
  justify-content: center;
  background: #1a2234f6;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.logo-image {
  display: none;
}

.logoName {
  font-size: 25px;
  font-weight: bold;
  color: var(--bkg_color);
}

.html_desktop .logoName {
  font-weight: 500;
}

@media (min-width: 1200px) {
  nav {
    border-bottom: 1px solid var(--sec_color);
    background: #1a2234f6;
  }
  html {
    font-size: 10pt;
  }

  .navbar {
    justify-content: space-between;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .logo {
    width: fit-content;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: transparent;
  }
  .logo-image {
    display: block;
    height: calc(var(--navbar_height) - 0.5rem);
    margin-right: 0.5rem;
    border-radius: 50%;
  }

  .CTA_button a {
    padding: 0.8rem 1.5rem;
  }
  .NavDropButton {
    display: none;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 0;
    height: fit-content;
    overflow: auto;
    top: auto;
    width: auto;
    left: auto;
    transition: 0.5s;
    border-bottom: none;
    min-height: unset;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
  }

  li {
    width: fit-content;
    min-height: unset;
    font-weight: 500;
    border-top: none;
    box-sizing: border-box;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }

  .RaiseLine {
    position: relative;
  }
  li a:hover {
    color: var(--sec_color);
    transition: 0.3s;
  }
  li a .RaiseLine::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px; /* Space between text and line */
    left: 0;
    background-color: var(--sec_color); /* Color of the underline */
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }

  li a:hover .RaiseLine::after {
    transform: scaleX(1);
  }
  li a {
    transition: 0.3s;
    color: var(--bkg_color);
    text-decoration: none;
    font-size: 14px;
    padding: 0px 20px;
  }
}
