.slider_container {
  height: calc(100vh - var(--navbar_height));
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  touch-action: none;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: hidden;
}

.slider_indicator {
  display: none;
}

.slider_container {
  height: calc(100vh - var(--navbar_height));
  display: flex;
  align-items: center;
  width: 100vw;
  touch-action: none;
  scroll-behavior: smooth;
}

.slider_indicator {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  border-radius: 50px;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.dot_slider {
  padding: 0.4rem;
  background-color: transparent;
  border: 1px solid var(--bkg_color);
  border-radius: 50%;
  transition: 0.3s;
}
.active_dot_slider {
  padding: 0.4rem;
  background-color: var(--bkg_color);
  border-radius: 50%;
  transition: 0.3s;
}

.html_desktop .backward_button,
.html_desktop .forward_button {
  position: absolute;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  height: calc(100vh - var(--navbar_height));
  width: 10vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.html_desktop .forward_button {
  right: 0;
}

.html_desktop .backward_button:before,
.html_desktop .forward_button:before {
  border-right: 0.5rem solid var(--bkg_color);
  border-top: 0.5rem solid var(--bkg_color);
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.html_desktop .backward_button:before {
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.html_desktop .forward_button:before {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.html_desktop .backward_button:focus-visible,
.html_desktop .forward_button:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}
