.slider_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(var(--main_color) 90%, var(--bkg_color) 100%);
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  box-sizing: border-box;
}

.slider_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8rem;
  scroll-behavior: smooth;
  max-width: var(--max-width);
  width: 100%;
}
